html {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}

.b-popover {
  padding-bottom: 0.5rem;
}

.ds-logo {
  padding-right: 0.9rem;
  border-right: 1px solid #ffffff;
}

.ds-logo-text {
  padding-left: 0.9rem;
  font-size: 1rem;
}

.dropdown-menu {
  min-width: 7.85rem;
}

.searchbar {
  border-bottom: 2px solid;
  color: #0369ff;
}

.searchbar:focus-within {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #27ee36, #d6fb00, #0bbff6, #ff13f4);
}

.card {
  min-width: 20rem;
  max-width: 20rem;
  background-color: #F6F8FA;
}

.badge {
  color: #323232;
  border-radius: 0.2rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border-top: solid;
}

.label-button {
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

body {
  /* Margin bottom must match footer height */
  margin-bottom: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #646464;
  color: white;
}

.bg-darkblue {
  background-color: #000032;
}

.bg-black{
  background-color: #000000;
}

.Prepare {
  border-color: #27ee36;
  background-color: rgba(39, 238, 54, 0.1);
}

.Sign {
  border-color: #d6fb00;
  background-color: rgba(214, 251, 0, 0.1);
}

.Act {
  border-color: #0bbff6;
  background-color: rgba(11, 191, 246, 0.1);
}

.Manage {
  border-color: #ff13f4;
  background-color: rgba(255, 19, 244, 0.1);
}

.Integrate {
  border-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.3);
}

.Industry {
  border-color: #ff7d00;
  background-color: rgba(255, 125, 0, 0.1);
}