<!DOCTYPE html>
<html lang="en">

<head>
    <title>SE Catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="img/dac-icon.png" />

    <!-- CSS Imports -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="custom.css?v3" />

    <!-- JS Imports -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue-icons.min.js"></script>

    <script src="main.js" type="module"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140351915-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-140351915-1");
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5B7H4GP');
    </script>
</head>

<body>
    <div id="vue-app">

        <!-- navbar -->
        <b-navbar type="dark" class="text-light bg-darkblue pt-1 pb-0">
            <img class="ds-logo" src="img/docusign-logo.png" height="26px" />
            <div class="ds-logo-text">Solution Engineering Catalog</div>
            <a class="mx-2 h6 text-light" target="_blank"
                href="https://docs.google.com/document/d/1ymz904xL17hG_Qh8J5qLTtUckXVEr-xbl2Ufi-9jLns/edit?usp=sharing">
                <b-icon icon="question-circle"></b-icon>
            </a>
            <b-navbar-nav small class="ml-auto d-none d-md-flex">
                <b-navbar-nav menu-class="text-light">
                    <b-nav-item href="https://datastudio.google.com/reporting/638f71fa-c68d-4a2a-b2cc-f7c23f2d0f6b"
                        target="_blank" link-classes="text-light">
                        Releases Notes
                    </b-nav-item>
                    <b-nav-item href="https://docusign.highspot.com/spots/5e73bab4a2e3a92ffb62d647" target="_blank"
                        link-classes="text-light">SE Central</b-nav-item>
                </b-navbar-nav>
                <b-nav-item-dropdown class="ml-3" text="North America" right toggle-class="text-light">
                    <b-dropdown-item class="small" href="https://paperpreventers.co.uk/DAC" target="_blank">EMEA
                    </b-dropdown-item>
                    <b-dropdown-item class="small"
                        href="https://sites.google.com/docusign.com/selatam/se-latam-portal?pli=1&authuser=1"
                        target="_blank">LATAM</b-dropdown-item>
                </b-nav-item-dropdown>
                <img class="ml-1" src="img/dac-icon.png" height="26px" />
            </b-navbar-nav>
        </b-navbar>

        <!-- searchbar -->
        <div class="px-3 pt-3 pb-4 bg-black">
            <div class="form-row">
                <div class="col-lg searchbar mx-md-3 input-group">
                    <span class="input-group-text bg-transparent border-0 px-0">
                        <b-icon variant="white" icon="search"></b-icon>
                    </span>
                    <input type="text" class="form-control bg-transparent border-0 shadow-none text-white"
                        placeholder="Search by product, partner, or industry" v-model="search"
                        v-on:keyup="searchCatalog()" />
                </div>
            </div>
        </div>

        <!-- iterate data into item-cards -->
        <div class="card-deck justify-content-center px-3 py-2 mx-0">
            <template v-for="(item, index) in filteredData" :key="index" :item="item">
                <div class="card border-0 p-2 mx-auto m-sm-2">
                    <div class="text-center">
                        <img :src="item.logo" height="50px" />
                        <div class="card-body p-0">
                            <h5 class="card-title text-dark my-2"><span v-html="item.name"></span></h5>
                            <div class="mx-2">

                                <b-icon variant="secondary" tabindex="0"
                                    class="h2 border border-secondary rounded p-1 mx-1" icon="link-45deg"
                                    v-if="item.demos" :id="`demos-${item.name}`"></b-icon>
                                <b-popover v-if="item.demos" :target="`demos-${item.name}`" title="Demos & Tools"
                                    html="true" triggers="hover" placement="bottomright">
                                    <div v-for="resource in item.demos">&#8226;
                                        <a :href="resource.url" target="_blank" v-html="` ${resource.title}`"></a>
                                        <small class="text-secondary">{{resource.desc}}</small><br />
                                    </div>
                                </b-popover>

                                <b-icon variant="secondary" tabindex="0"
                                    class="h2 border border-secondary rounded p-1 mx-1" icon="file-earmark-text-fill"
                                    v-if="item.docs" :id="`docs-${item.name}`">
                                </b-icon>
                                <b-popover v-if="item.docs" :target="`docs-${item.name}`" title="Documentation"
                                    html="true" triggers="hover" placement="bottomright">
                                    <div v-for="resource in item.docs">&#8226;
                                        <a :href="resource.url" target="_blank" v-html="` ${resource.title}`"></a>
                                        <small class="text-secondary">{{resource.desc}}</small><br />
                                    </div>
                                </b-popover>

                                <b-icon variant="secondary" tabindex="0"
                                    class="h2 border border-secondary rounded p-1 mx-1" icon="play-circle-fill"
                                    v-if="item.videos" :id="`videos-${item.name}`"></b-icon>
                                <b-popover v-if="item.videos" :target="`videos-${item.name}`" title="Videos" html="true"
                                    triggers="hover" placement="bottomright">
                                    <div v-for="resource in item.videos">&#8226;
                                        <a :href="resource.url" target="_blank" v-html="` ${resource.title}`"></a>
                                        <small class="text-secondary">{{resource.desc}}</small><br />
                                    </div>
                                </b-popover>

                                <b-icon variant="secondary" tabindex="0"
                                    class="h2 border border-secondary rounded p-1 mx-1" icon="info-circle-fill"
                                    v-if="item.resources" :id="`resources-${item.name}`">
                                </b-icon>
                                <b-popover v-if="item.resources" :target="`resources-${item.name}`" title="Resources"
                                    html="true" triggers="hover" placement="bottomright">
                                    <div v-for="resource in item.resources">&#8226;
                                        <a :href="resource.url" target="_blank" v-html="` ${resource.title}`"></a><br />
                                    </div>
                                </b-popover>

                            </div>
                        </div>
                        <div class="mb-0">
                            <span v-for="(value, key) in item.tags" :key="key" :class="`badge ${key}`">
                                {{ value }}
                            </span>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <!-- footer -->
        <div class="footer">
            <div class="text-center mt-1">
                <small>&#9400;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Solution Architecture | <b>Demo Engineering</b>
                </small>
            </div>
        </div>

    </div>
</body>

</html>