#app {
  background-color: #f8f8f8;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom must match footer height */
  margin-bottom: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color:#1b49a0;
  color: #f8f8f8;
}

.badge {
  color: #212529;
  border-radius: 0.2rem;
}

.check-button {
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.spacing {
	margin: 1rem;
}

.blue {
  background-color: #1b49a0;
}

.Prepare {
  background-color: #6de946;
}

.Sign {
  background-color: #def851;
}

.Act {
  background-color: #58c4fa;
}

.Manage {
  background-color: #eb52d7;
}

.Integrate {
  background-color: #d8d9d9;
}

.Industry {
  background-color: #ef8532;
}